* {
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    grid-template-rows: 100px 1fr 100px;
    grid-template-columns: 400px 1fr;
    height: 100vh;
}

header {
    place-self: center;
    grid-column: span 2;
}

footer {
    grid-column: span 2;
}

.main {
    display: grid;
    grid-template-rows: 50px 1fr;
}

.add-project {
    place-self: center;
}

.content {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    gap: 10px;
    border-right: 1px solid grey;
}

.project-title {
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1.5rem;
    user-select: none;
    max-width: 400px;
    align-self: start;
    width: 100%;
}

.project-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    border-bottom: 1px solid grey;
    box-shadow: 0px 15px 10px -18px #111;
    padding: 15px;
}

.item-title {
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1.25rem;
}

.item-delete {
    align-self: flex-start;
}

.item-container {
    overflow: hidden;
    text-overflow: ellipsis;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.view {
    padding: 15px;
}

.project-form-container,
.item-form-container,
.project-form-edit-container {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, .5);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
}

.project-form-container.show,
.item-form-container.show,
.project-form-edit-container.show {
    opacity: 1;
    pointer-events: auto;
}

form {
    display: grid;
    grid-template-columns:  auto 1fr;
    gap: 15px;
    border: 1px solid black;
    width: 700px;
    padding: 40px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .2);
    font-size: 1.5rem;
}

button {
    padding: 8px 32px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .2);
    background-color: rgb(67, 146, 43);
    border-radius: 10px;
    border: 0;
    cursor: pointer;
    color: #fff;
    font-weight: bold;
}

#item-description {
    height: 100px;
    resize: none;
}

.item-delete,
.project-delete {
    background-color: red;
    margin-bottom: 10px;
}

.item-cancel,
.project-cancel,
.project-edit-cancel {
    display: grid;
    grid-column: 2;
    justify-self: right;
    place-items: center;
    padding: 0px 6px;
    font-size: 2rem;
    background-color: rgb(255, 0, 0);
}

.item-submit,
.project-submit,
.project-edit-submit {
    grid-column: span 2;
    place-self: center;
}

.invalid {
    grid-row: 1;
    font-size: 1rem;
    color: red;
    justify-self: right;
    font-style: italic;
}